<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShopPhone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/all.css" rel="stylesheet">
    <link href="/Scripts/owl.carousel.min.js" rel="stylesheet">
    <link rel="icon" href="~/img/android-icon-144x144.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="pt-0">

    <div class="header2 bg-success-gradiant">
        <div class="">
            <!-- Header 1 code -->
            <nav class="navbar navbar-expand-lg h2-nav">

                <div class="collapse navbar-collapse hover-dropdown" id="header2">
                    <ul class="navbar-nav >
                        <li class="nav-item">
                            <img style="width: 100px" src="~/Images/1.png" />
                        </li>
                        <li class="nav-item active mt-3"><a class="nav-link" href="@Url.Action("Index","Home")"><strong>Trang Chủ</strong></a></li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="@Url.Action("MuaNhieuNhat", "Home")"><i class="fas fa-star"></i> Mua Nhiều</a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="@Url.Action("Index", "GioHang")"><i class="fas fa-cart-plus"></i> Giỏ hàng</a>
                        </li>

                        <li class="nav-item mt-3">
                            <a class="nav-link" href="@Url.Action("DangKy", "Home")"><i class="fas fa-cash-register"></i> Đăng ký</a>
                        </li>
                        @if (Session["MaKhachHang"] == null)
                        {
                            <li class="nav-item mt-3">
                                <a class="nav-link" href="@Url.Action("Login", "Home")"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown mt-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["HoTenKhachHang"].ToString()
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("DonHangCuaToi", "Home")">Đơn hàng của tôi</a>
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "Home")">Đổi mật khẩu</a>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Đăng xuất</a>
                                </div>
                            </li>
                        }
                    </ul>


                </div>
                <form class="form-inline my-2 my-lg-0" action="@Url.Action("TimKiem","Home")" method="post">
                    <input class="form-control mr-sm-2 search" type="search" name="tukhoa" placeholder="Bạn muốn tìm gì?" />
                    <button class="button" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </nav> <!-- End Header 1 code -->
        </div>

    </div>
    <div class="container-fluid mt-3">
        <div class="container-fluid body-content">
            @RenderBody()
                <div class="card">
                    <div class="heading text-center">
                        <div class="head1">Cửa hàng điện thoại di động Mỹ Long</div>
                        <p class="bdr"></p>
                    </div>
                    <div class="card-body">
                        <div class="row m-0 pt-5">
                            <div class="card col-12 col-md-3">
                                <div class="card-content">
                                    <i class="fas fa-hand-holding-usd fa-3x"></i>
                                    <div class="card-title"> Chăm sóc khách hàng </div>
                                    <p><small>Hổ trọ tận nơi</small></p>
                                    <p><small>Bảo hành lâu dài</small></p>
                                    <p><small>Dịch vụ khuyến mãi</small></p>

                                </div>
                            </div>
                            <div class="card col-12 col-md-3">
                                <div class="card-content">
                                    <i class="far fa-handshake fa-3x"></i>
                                    <div class="card-title"> Dịch vụ </div>
                                    <p><small>Chính sách bảo hành</small></p>
                                    <p><small>Hướng dẫn mua Onl</small></p>
                                    <p><small>Chính sách đổi trả</small></p>

                                </div>
                            </div>
                            <div class="card col-12 col-md-3">
                                <div class="card-content">
                                    <i class="fas fa-mobile-alt fa-3x"></i>
                                    <div class="card-title"> Đường dây hổ trợ </div>
                                    <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Kỹ thuật: 037 3856186</small></p>
                                    <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Tư vấn khách hàng: 058 5729248</small></p>
                                    <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Khiếu nại: 037 3856186</small></p>

                                </div>
                            </div>
                            <div class="card col-12 col-md-3">
                                <div class="card-content">
                                    <i class="fas fa-home fa-3x"></i>
                                    <div class="card-title"> Hệ thống cửa hàng </div>
                                    <p><small>Khóm 4, Mỹ Long, Long Xuyên, An Giang</small></p>
                                    <p><small>28/2 Ấp thị II, Mỹ Luông, Chợ Mới, An Giang</small></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer row m-0">
                        <div>
                            <p> <strong class="follow-text">Theo dõi chúng tôi tại</strong> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("body").append('<div id="backtotop"><img src="Images/backtotop.png" style=""></div>');
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('#backtotop').fadeIn(100);
            } else {
                $('#backtotop').fadeOut(100);
            }
        });
        $('#backtotop').click(function () {
            $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function () {
                $('html, body').stop();
            }); $('html,body').animate({ scrollTop: 0 }, 1200); return false;
        });
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <style>
        .search {
            border-radius: 30px;
            position: relative;
        }
        .button {
            width: 40px;
            height: 38px;
            border-radius: 40px ;
            background-color: #fff0;
            position: absolute;
            margin-left: 180px;
            border: 1px solid #cac9c9;
        }
        #backtotop {
            cursor: pointer;
            position: fixed;
            right: 20px;
            bottom: 20px;
            padding: 20px;
            border-radius: 50px;
            line-height: 0;
        }
    </style>
</body>
</html>
