@model IEnumerable<ShopPhone.Models.SanPham>

@{
    ViewBag.Title = "Giỏ hàng";
    var cart = (List<ShopPhone.Models.SanPhamTrongGio>)Session["cart"];
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @if (cart == null || cart.Count() < 0)
        {

        }

        else
        {
            if ( cart.Count() < 0)
            {
                <span>Hãy thêm sản phẩm</span>
            }
            <table class="table table-bordered table-hover table-sm">
                <tr>
                    <th width="5%">STT</th>
                    <th>Hình ảnh</th>
                    <th>Sản phẩm</th>
                    <th width="20%">Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th width="5%"></th>
                </tr>
                @{ int stt = 1; }
                @foreach (var item in cart)
                {
                    <tr>
                        <td>@stt</td>
                        <td><img src="~/@item.sanpham.HinhAnhBia" width="50" /></td>
                        <td>@item.sanpham.TenSanPham</td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><a href="@Url.Action("CapNhatGiam", "GioHang", new { masp = item.sanpham.ID })"><i class="fas fa-minus"></i></a></span>
                                </div>
                                <input type="text" class="form-control text-center" value="@item.SoLuongTrongGio" readonly />
                                <div class="input-group-append">
                                    <span class="input-group-text"><a href="@Url.Action("CapNhatTang", "GioHang", new { masp = item.sanpham.ID })"><i class="fas fa-plus"></i></a></span>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">@item.sanpham.DonGia</td>
                        <td class="text-right">@(item.SoLuongTrongGio * item.sanpham.DonGia)</td>
                        <td class="text-center"><a href="@Url.Action("Xoa", "GioHang", new { masp = item.sanpham.ID })">Xóa</a></td>
                    </tr>
                    stt++;
                }

                <tr>
                    <td colspan="5">Tổng thành tiền</td>
                    <td class="text-right font-weight-bold text-primary">
                        @{
                            var total = cart.Sum(item => item.sanpham.DonGia * item.SoLuongTrongGio);
                        }
                        @total
                    </td>
                    <td></td>
                </tr>
            </table>

            <p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp tục mua hàng</a>
                <div >
                    <a href="@Url.Action("XacNhanMuaHang", "Home")" class="btn btn-success">Thanh toán</a>
                </div>
            </p>
        }
    </div>
</div>
