@model IEnumerable<ShopPhone.Models.SanPham>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @if (Model.Count() > 0)
           
        {
            foreach (var item in Model)
            {
                <div class="media mb-3">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="card list-books">
                            <img src="~/@item.HinhAnhBia" class="card-img-top" alt="...">
                            <div class="card-body al">
                                <h5 class="card-title text-center">@item.TenSanPham</h5>
                                <p class="card-text text-center">@String.Format("{0:N0}", item.DonGia) VNĐ</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="@Url.Action("Them", "GioHang", new { masp = item.ID })" class="btn btn-danger">Giỏ hàng</a>
                                <a href="@Url.Action("Details", "Home", new { masp = item.ID })" class="btn btn-info m-1">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="text-center">Không tìm thấy kết quả!</h3>
        }
    </div>
</div>